@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
    background-color: #1b1b1e !important;
    color: #ffff !important;

}

.nav-link {
    color: #ffff !important;
    font-size: 2;
}

.nav-link:hover {
    color: #717480 !important;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 2.5rem;
    color: #ffffff !important;
    animation: glow 1000ms infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px #1877f2,
            0 0 20px #1459b3,
            0 0 30px #179bff;
    }

    to {
        text-shadow: 0 0 5px #1877f2,
            0 0 10px #1459b3,
            0 0 15px #179bff;
    }
}



header {
    background-color: #26272b;
    height: 6rem;
}

.container-fluid {
    height: 5.3rem;
    margin-left: 25px;
    margin-right: 25px;
}

.navbar-nav {
    color: #737373;
}



.logo {
    height: 3rem;
    margin-left: 1rem;
}

.navbar-toggler {
    background-image: none;
    background-color: #1877f2;

}

.dropdown-menu {
    background-color: #141414;
    height: 10rem;
    width: auto;
}


.dropdown-item {
    color: green;
}


/***************************************************************************************************************************************************************************************************************************************************/

.carousel {
    background-color: transparent;
}

.slide {
    margin-top: 10px;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 0.5%;

}


.site-footer {
    background-color: #26272b;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
}

.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5
}

.site-footer hr.small {
    margin: 20px 0
}

.site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px
}

.site-footer a {
    color: #737373;
}

.site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none
}

.footer-links li {
    display: block
}

.footer-links a {
    color: #737373;
    text-decoration: none;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #ffffff;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}

.site-footer .social-icons {
    text-align: right
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d
}

.copyright-text {
    margin: 0
}

.copyright-text a:active,
.copyright-text a:focus,
.copyright-text a:hover {
    color: #ffff
}

@media (max-width:991px) {
    .site-footer [class^=col-] {
        margin-bottom: 30px
    }
}

@media (max-width:767px) {
    .site-footer {
        padding-bottom: 0
    }

    .site-footer .copyright-text,
    .site-footer .social-icons {
        text-align: center
    }
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
}

.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
}

.social-icons a.facebook:hover {
    background-color: #3b5998
}

.social-icons a.instagram:hover {
    background-color: #643c08
}

.social-icons a.youtube:hover {
    background-color: #ba360d
}


@media (max-width:767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600
    }
}


/***************************************************************************************************************************************************************************************************************************************************/

.layout {

    display: grid;
    grid:
        "header header header" auto "leftSide body ." 1fr "footer footer footer" auto / auto 1fr auto;
    gap: 8px;
}

.header {
    grid-area: header;
}

.leftSide {
    grid-area: leftSide;
}

.body {
    grid-area: body;
}

.footer {
    grid-area: footer;
}



.main-products {
    display: flex;
    flex-direction: column;
    margin-bottom: 10rem;
    gap: .5rem;
    margin-top: 15vh;
}

.btn-main {
    background-color: #ffffff;
    border: 0;
    color: #0b90bd;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    padding: 1rem;
    border-radius: 1rem;
    font-size: .85rem;
    width: 100%;
}

.btn-main.active {
    background-color: #26272b;
    color: #1877f2;

    position: relative;
}

.btn-main.active::before {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    bottom: 100%;
    right: 0;
    background-color: transparent;
    border-bottom-right-radius: .5rem;
    box-shadow: 0 1rem 0 var(--clr-white);

}

.btn-main.active::after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    top: 100%;
    right: 0;
    background-color: transparent;
    border-top-right-radius: .5rem;
    box-shadow: 0 -1rem 0 var(--clr-white);

}

a.btn-cart {
    text-decoration: none;

}

.li-main {
    list-style-type: none;
}

.main {
    background-color: none;
    margin: 1rem;
    margin-left: 0;
    border-radius: 2rem;
    padding: 3rem;
}

.title-product-major {
    color: #fff;
    margin-bottom: 2rem;
}

.container-products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.product {
    display: flex;
    flex-direction: column;
    background-color: #33353d;
    border-radius: 20px;
    height: 57vh;
    align-items: center;
    justify-content: center;
}

.separador {
    width: 80%;
    height: 0.2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: #26272b;
    border: 1vh;
    border-radius: 1rem;
}

.img-fluid {
    max-width: 100%;
    border-radius: 1rem;
    max-height: 35vh;
}

.title-product {
    font-size: 3.5vh;
}

.price-product {
    font-size: 1.5vh;
}

.btn-add-product {
    justify-content: center;
    align-items: center;
    border: 0;
    background-color: #141414;
    color: #ffff;
    padding: .5rem;
    text-transform: uppercase;
    border-radius: 2rem;
    cursor: pointer;
    border: 2px solid #26272b;
    
    font-family: "Montserrat", sans-serif;
}

.btn-add-product:hover {
    background-color: #3a3a3a;
    color: #179bff;
}



/**********************************************************************************************************/






.container-cart {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: #26272b;
    border-radius: 1rem;
    padding-left: 1rem;
}

.cart-empty,
.cart-bought {
    color: var(--clr-main);
}

.cart-products {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.product-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-gray);
    color: var(--clr-main);
    padding: .5rem;
    padding-right: 1.5rem;
    border-radius: 1rem;
}

.cart-product-img {
    width: 16rem;
    border-radius: 1rem;
}

.cart-product small {
    font-size: .75rem;
}

.cart-product-eliminate {
    
    background-color: transparent;
    color: #bf4031;
    cursor: pointer;
    border: auto;
    border-radius: 1rem;
    border-color: #bf4031;
}

.cart-product-eliminate:hover{
    background-color: #bf4031;
    color: #fff;
}
.separator {
    width: 80%;
    height: 0.2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: #fff;
    border: 1vh;
    border-radius: 1rem;
}

.cart-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-actions-clear {
    background-color:#33353d;
    border-color:#ba360d;
    padding: 1rem;
    border-radius: 1rem;
    color: #ffff;
    text-transform: uppercase;
    cursor: pointer;
    border-color:#ba360d;
}

.cart-actions-clear:hover{
    background-color: #ba360d;
}
.cart-actions-right {
    display: flex;
    margin-left: 1rem;
    padding: 1rem;
}

.cart-actions-total {
    display: flex;
    background-color: #33353d;
    align-items: center;
    padding: 1rem;
    text-transform: uppercase;
    margin-right: 1rem;
    border-radius: 1rem;
}

.cart-actions-buy {
    background-color: #33353d;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 1rem;
    border-color:#31bf40;
}

.cart-actions-buy:hover{
    background-color: #279933;
    color: #fff;
}
.disabled {
    display: none;
}

